* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Source Sans Pro", sans-serif;
}
.footer {
  background-color: #071629;
  width: 100%;
  height: 250px;
  padding-top: 92px;
}

.footers {
  padding-top: 130px;
}

.icons {
  display: flex;
  gap: 20px;
}

.icons img {
  width: 30px;
  height: 30px;
}

.flex-foot {
  display: flex;
  gap: 710px;
  justify-content: center;
}
#copyright {
  color: white;
  font-size: 12px;
  text-align: center;
  padding-top: 72px;
}
